.bg-section-lion:before{  
    animation-name: bg-before;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bg-before {
    from { transform: translate(0,  20px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, 20px); }    
}
.lion-img {  
    animation-name: lion;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes lion {
    from { transform: translate(0,  20px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, 20px); }    
}

.laptop-img {  
    animation-name: laptop;
    animation-duration:8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes laptop {
    from { transform: translate(0, 0px); }
    65%  { transform: translate(0, 0px); }
    to   { transform: translate(0, 0px); }    
}

.r {  
    animation-name: r;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes r {
   from { transform: translate(-50px,80px); }
    65%  { transform: translate(-35px, 65px); }
    to   { transform: translate(-50px,80px); }  
}

.a {  
    animation-name: a;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes a {
    from { transform: translate(10px,160px); }
    65%  { transform: translate(-5px, 145px); }
    to   { transform: translate(10px,160px);  }    
}


.j {  
    animation-name: j;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

}

@keyframes j {
    from { transform: translate(130px,  110px); }
    65%  { transform: translate(115px, 95px); }
    to   { transform: translate(130px,  110px);  }    
}
.m {  
    animation-name: m;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes m {
    from { transform: translate(199px,174px); }
    65%  { transform: translate(184px, 160px); }
    to   { transform: translate(199px,174px); }    
}


.i {  
    animation-name: i;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes i {
    from { transform: translate(250px, 140px); }
    65%  { transform: translate(250px, 135px); }
    to   { transform: translate(250px, 140px); }    
}
.t {  
    animation-name: t;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
   
}

@keyframes t {
    from { transform: translate(301px,129px); }
    65%  { transform: translate(310px, 135px); }
    to   { transform: translate(301px,129px);}    
}
.h {  
    animation-name: h;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: translate(50px,50px);
}

@keyframes h {
    from { transform: translate(362px,189px); }
    65%  { transform: translate(370px, 185px); }
    to   { transform: translate(362px,189px); }    
}


.img-left {  
    animation-name: imgleft;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes imgleft {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 3px); }
    to   { transform: translate(0, -0px); }    
}

.img-right {  
    animation-name: imgright;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes imgright {
    from { transform: translate(370px,114px); }
    65%  { transform: translate(376px, 110px); }
    to   { transform: translate(370px,114px); }    
}

.img-top {  
    animation-name: imgtop;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes imgtop {
    from { transform: translate(234px,15px); }
    65%  { transform: translate(234px,12px); }
    to   { transform: translate(234px,15px); }    
}



.lionimg {  
    animation-name: lionimg;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes lionimg {
     from { transform: translate(200px,41px); }
    65%  { transform: translate(198px,42px); }
    to   { transform: translate(200px,41px); }    
}


@media(max-width: 567px){

@keyframes imgtop {
   
     from { transform: translate(179px,16px); }
    65%  { transform: translate(179px,10px); }
    to   { transform: translate(179px,16px); }   
}
@keyframes imgright {
    from { transform: translate(239px,184px); }
    65%  { transform: translate(239px,175px); }
    to   { transform: translate(239px,184px); }    
}
@keyframes imgleft {
    from {  transform: translate(-29px,-3px); }
    65%  {  transform: translate(-29px,-0px);}
    to   {  transform: translate(-29px,-3px);}    
}


@keyframes lionimg {
     from { transform: translate(130px,21px); }
    65%  { transform: translate(128px,22px); }
    to   { transform: translate(130px,21px); }    
}
}
